@import "layout/colors.scss";

.hero.img {
    
    background-image: url("img/hero.svg");
    background-repeat: no-repeat;
    background-position: 85%;
    background-size: contain 100px;
}

footer {
    background-color: $dark-blue;
    color: white;

    ul {
        list-style-type: none;
        margin:0;
        padding:0;
        padding-top: 20px;
    }

    .copyright {
        background-color: $dark;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}