.bg-white {
  background-color: white;
}

.hero.img {
  background-image: url(/images/hero.svg?358d43d592932d2adf17a263cd8c880a);
  background-repeat: no-repeat;
  background-position: 85%;
  background-size: contain 100px;
}

@media only screen and (max-width: 1250px) {
  .hero.img {
    background-image: none;
  }
}

footer {
  color: white;
}

footer .footer {
  background-color: #22333b;
  min-height: 120px;
}

footer .footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
}

footer .footer ul li {
  margin-left: 5px;
  margin-right: 5px;
}

footer .copyright {
  background-color: #191919;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.w500 {
  width: 500px;
}

.content {
  min-height: calc(100vh - 299px);
  padding-bottom: 20px;
  box-sizing: border-box;
}

.btn-option {
  width: 100%;
  height: 100px;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.btn-row a {
  margin: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border: solid 1px #F18904;
  min-height: 290px;
}

#editor {
  height: 250px;
}

.plus-button {
  border: 2px solid #F18904;
  background-color: #f1f1f1;
  font-size: 75px;
  height: 3.5em;
  width: 3.5em;
  border-radius: 999px;
  position: relative;
  margin: 10%;
}

.plus-button:after,
.plus-button:before {
  content: "";
  display: block;
  background-color: #F18904;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.plus-button:before {
  height: 1em;
  width: 0.2em;
}

.plus-button:after {
  height: 0.2em;
  width: 1em;
}

.plus-button:hover {
  background-color: #F18904;
  border: solid 2px white;
}

.plus-button:hover:after,
.plus-button:hover:before {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.plus-button:hover:before {
  height: 1em;
  width: 0.2em;
}

.plus-button:hover:after {
  height: 0.2em;
  width: 1em;
}

