@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Raleway:300,400,200&display=swap);@charset "UTF-8";

.bg-white {
  background-color: white;
}

.btn {
  outline: none;
  display: inline-block !important;
  border-radius: 4px;
  border: 1px solid transparent;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn.flat-primary {
  background-color: #F18904;
  color: white;
}

.highlights{
  
}

.contents_homepage{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4em;
}

.highlights_title{
  text-align: center;
  font-size: 18px;
}

.highlights_images_container{
  display: flex;
  padding-top: 2em;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.highlights_image{
  flex: 33.33%;
  margin: 2px;
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: slategray;
  padding: 10px;
  text-align: center;
  opacity: 0.5;
}


.btn.flat-primary:hover {
  background-color: #fca12c;
}

.btn.primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFB453), color-stop(7%, #F18904), to(#F18904));
  background: linear-gradient(180deg, #FFB453 0%, #F18904 7%, #F18904 100%);
  background: linear-gradient(180deg, #FFB453 0%, #F18904 7%, #F18904 100%);
  color: white;
  box-sizing: border-box;
  /*
      Ao passar o cursor por cima.
      Deverá ter uma cor de fundo mais escura.
  */
  /*
      Ao clicar
      Deverá aplciar um inline shadow
  */
}

.btn.primary:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffca86), color-stop(7%, #fca12c), to(#fca12c));
  background: linear-gradient(180deg, #ffca86 0%, #fca12c 7%, #fca12c 100%);
}

.btn.primary:active {
  background: #F18904;
}

.btn.inverted {
  box-sizing: border-box;
  color: #F18904;
  background-color: transparent;
  border: solid 1px #F18904;
}

.btn.inverted:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffca86), color-stop(7%, #fca12c), to(#fca12c));
  background: linear-gradient(180deg, #ffca86 0%, #fca12c 7%, #fca12c 100%);
  color: white;
}

.btn.inverted:active {
  background: #F18904;
  color: white;
}

.btn.link {
  color: #F18904;
  padding-left: 0;
  padding-right: 0;
}

.btn.link:hover {
  text-decoration: underline;
}

.btn-md {
  font-size: 16px;
}

.navbar {
  background-color: #F7F7F9;
  min-height: 120px;
  border-top: solid #F18904 1px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar .btn {
  font-size: 18px;
  overflow: hidden;
}

.navbar li {
  margin-left: 20px;
}

.navbar ul {
  list-style-type: none;
  display: -webkit-box;
  display: flex;
}

#hamburguer {
  display: none !important;
}

#logout span {
  display: none;
}

@media only screen and (max-width: 800px) {
  #logout span {
    display: inline;
  }

  .navbar ul {
    margin: 0;
    padding: 10px 0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.1s ease-in;
    transition: visibility 0s, opacity 0.1s ease-in;
    left: 0;
    right: 0;
    top: 100%;
    background-color: #22333b;
  }

  .navbar ul a {
    padding: 10px 0;
    display: block !important;
    text-align: center;
  }

  .navbar ul a:hover {
    background-color: #191919;
  }

  .navbar ul li {
    margin-left: 0px;
  }

  .navbar ul.responsive {
    display: inline !important;
    visibility: visible;
    opacity: 1;
  }

  .navbar ul .icon {
    display: none;
  }

  #hamburguer {
    display: inline !important;
  }
}

.hero {
  display: block;
  min-height: 350px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FEF9F2;
}

@media screen and (max-width: 1200px) {
  .hero {
    background: #FEF9F2;
    background-image: none;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    display: none;
  }
}

* {
  font-family: "Open Sans", sans-serif;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

.subsubtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}

.text-center {
  text-align: center;
}

.row {
  display: -webkit-box;
  display: flex;
  width: 100%;
}

.row.centered {
  -webkit-box-pack: center;
          justify-content: center;
}

.row.right {
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.row.left {
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.row.space {
  justify-content: space-around;
}

.row.wrap {
  flex-wrap: wrap;
}

.col {
  -webkit-box-flex: 1;
          flex: 1;
}

.gap {
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
}

.gap div {
  padding: 20px 20px;
}

/*
    Gerar as classes com o tamanho da coluna.
    Colunas com breakpoint para smartphone
*/

.col-1 {
  flex-basis: 10%;
}

.col-2 {
  flex-basis: 20%;
}

.col-3 {
  flex-basis: 30%;
}

.col-4 {
  flex-basis: 40%;
}

.col-5 {
  flex-basis: 50%;
}

.col-6 {
  flex-basis: 60%;
}

.col-7 {
  flex-basis: 70%;
}

.col-8 {
  flex-basis: 80%;
}

.col-9 {
  flex-basis: 90%;
}

.col-10 {
  flex-basis: 100%;
}

.fixed-1 {
  overflow: hidden;
  flex-basis: 10vmax;
}

.fixed-2 {
  overflow: hidden;
  flex-basis: 20vmax;
}

.fixed-3 {
  overflow: hidden;
  flex-basis: 30vmax;
}

.fixed-4 {
  overflow: hidden;
  flex-basis: 40vmax;
}

.fixed-5 {
  overflow: hidden;
  flex-basis: 50vmax;
}

.fixed-6 {
  overflow: hidden;
  flex-basis: 60vmax;
}

.fixed-7 {
  overflow: hidden;
  flex-basis: 70vmax;
}

.fixed-8 {
  overflow: hidden;
  flex-basis: 80vmax;
}

.fixed-9 {
  overflow: hidden;
  flex-basis: 90vmax;
}

.fixed-10 {
  overflow: hidden;
  flex-basis: 100vmax;
}

/*
    Ao atingir o breakpoint com a media query, fazer com que as colunas sejam todas 100% de largura
*/

@media screen and (max-width: 576px) {
  .row {
    flex-wrap: wrap;
  }

  .sm {
    flex-basis: 100%;
  }
}

.form-field {
  padding-top: 10px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.invalid-feedback {
  margin-top: 10px;
  display: block;
}

.input,
.select select {
  width: 100%;
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid transparent;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05);
  padding: 4px 10px 4px 10px;
  font-size: 12pt;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
}

.input:focus,
.select select:focus {
  border: 1px solid #f18904;
  box-shadow: 0px 0px 0px 2px rgba(241, 137, 4, 0.4);
}

.input.rounded,
.select select.rounded {
  border-radius: 25%;
}

.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 20px;
}

.select {
  position: relative;
  display: inline;
}

.select:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.4em;
  content: "\F107";
  color: #f18904;
  padding: 12px 8px;
  position: absolute;
  right: 10px;
  top: 0;
  pointer-events: none;
  border: 0;
  padding: 0;
}

.w100 {
  width: 100%;
}

.line {
  border: 0.5px solid rgba(34, 51, 59, 0.2);
  margin-top: 0;
  margin-bottom: 20px;
}

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.page-item {
  display: inline;
}

html,
body {
  margin: 0;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

