@mixin buttonBgGradient($primary, $other) {
    background:linear-gradient(180deg, $other 0%, $primary 7%, $primary 100%); 
}


.btn   {
    outline: none;
    display: inline-block !important;
    //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid transparent; // Manter o mesmo tamanho entre botões com borda e sem borda.
    //height: 10px;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Raleway', sans-serif;

    box-sizing: border-box;         

    transition: background-color 0.4s ease-out;
    transition: color 1s ease-out;

    cursor: pointer;

    text-decoration: none;
    text-align: center;


    &.flat-primary {
        background-color: $primary-color;
        color: white;

        &:hover {
            background-color: lighten($primary-color, 10%);
            

        }
    }

    &.primary{

        @include buttonBgGradient($primary-color, #FFB453 );
        background:linear-gradient(180deg, #FFB453 0%, $primary-color 7%, $primary-color 100%); 
        color: white;
        box-sizing: border-box;
        

        /*
            Ao passar o cursor por cima.
            Deverá ter uma cor de fundo mais escura.
        */
        &:hover {
            @include buttonBgGradient(lighten($primary-color,10%), lighten(#FFB453, 10%));
        }

        /*
            Ao clicar
            Deverá aplciar um inline shadow
        */
        &:active {
            background: $primary-color;
        }
    }

    &.inverted {
        box-sizing: border-box;    
        color: $primary-color;
        background-color: transparent;
        border: solid 1px $primary-color;
        
        
        &:hover {
            @include buttonBgGradient(lighten($primary-color,10%), lighten(#FFB453, 10%));
            color: white;
        }

        &:active {
            background: $primary-color;
            color:white;
        }
        
    }

    &.link {
        color: $primary-color;
        
        padding-left: 0;
        padding-right: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

.btn-md {
    font-size: 16px;
}