.form-field {

    padding-top: 10px;
}



.label {
    display: block;
    margin-bottom: 10px;
}

.invalid-feedback {
    margin-top: 10px;
    display: block;
}

.input , .select select{

    width: 100%;

    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid transparent;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05);
   
    padding: 4px 10px 4px 10px;
    
    font-size: 12pt;
    transition: 0.5s;

    outline: none; // Remove a borda quando está em focus
 

    box-shadow: 0px 0px 0px 2px rgba(black, 0.2);

    color: rgba(black,0.6);

    &:focus {
        border: 1px solid rgba($primary-color, 1);
        box-shadow: 0px 0px 0px 2px rgba($primary-color, 0.4);


    }
    
    &.rounded {
        border-radius: 25%;
    }

   
}

.select select {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right:20px

}

.select{
    position: relative;
    display: inline;
    &:after{
        font-family: "Font Awesome 5 Free"; font-weight: 900;
        font-size: 1.4em;
        content: "\f107";
        color: rgba($primary-color, 1);
        padding: 12px 8px;
        position: absolute;
        right:10px;
        top: 0;
        pointer-events: none;
        border:0; padding:0;
       
    }
}


