.navbar {
    background-color: $nav-bg-color;
    min-height: 120px;
    border-top: solid $primary-color 1px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    padding-left: 10%;
    padding-right: 10%;

     a {
        text-decoration: none ;
        color: white;

    }

    
    .btn {
        font-size: 18px;
        overflow: hidden;
    }

    li {
        margin-left: 20px;
    }

    ul {
        list-style-type: none;
        display: flex;
    }
}

#hamburguer {
    display:none !important;
}

#logout {
    span {
        display:none;
    }
}



// remove icons from navbar buttons
@media only screen and (max-width: 800px) {

    #logout {
        span {
            display: inline;
        }
    }
  .navbar ul {
      margin: 0;
      padding: 10px 0;
      position: absolute;

      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.1s ease-in ;

      left: 0;
      right: 0;
      top: 100%;
      background-color:  $dark-blue;

    a {
        color: white;
        padding: 10px 0;
        display:block !important;
         text-align: center;

         &:hover{
            background-color: $dark;
        }

      }

      li {
          margin-left: 0px;
      }

      &.responsive {
          display: inline !important;
          visibility: visible;
          opacity: 1;
      }

      .icon {
          display: none;
      }

  }

  #hamburguer {
    display: inline !important;
  }


} 

