* {
    font-family: 'Open Sans', sans-serif; // Fonte por defeito
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.text-center {
    text-align: center;
}

.text-focus {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}